fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-chroma
langchain-huggingface
huggingface-hub
pypdf
python-dotenv
pysqlite3-binary; sys_platform == 'linux'
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers